html {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    padding: 10px;
    width: 50%;
}

h1 {
    text-align: center;
    
}

h2 {
    text-align: center;
    margin: 0;
}

h3 {
    text-align: center;
    margin: 0;
}

.Border {
    border: 1px solid black;
}

header {
    margin-bottom: 10px;
    text-align: center;
}

p, li {
    box-sizing: border-box;
    margin: 0px;
    text-align: left;
    padding: 5px 5px;
    font-size: 15px;
    margin: 0;
}

.color {
    border: 1px solid black;
    box-sizing: border-box;
    line-height:15px;
    display: inline-block;
    max-height: 200px;
    width: 25%;
    max-width: 330px;
}

.Hex {
    border: 1px solid black;
    box-sizing: border-box;
    line-height:15px;
    display: inline-block;
    max-height: 200px;
    width: 25%;
    max-width: 330px;
}

.Rgb {
    border: 1px solid black;
    box-sizing: border-box;
    line-height:15px;
    display: inline-block;
    max-height: 200px;
    width: 25%;
    max-width: 330px;
}

.Hsl {
    border: 1px solid black;
    box-sizing: border-box;
    line-height:15px;
    display: inline-block; 
    max-height: 200px;
    width:  25%;
    max-width: 330px;
}
/* Rød farve */ 
.LightRedHue {
    background-color: hsl(0, 100, 75);
    width: 20px;
    height: 20px;
}

.RedHue {
    background-color: hsl(0, 100, 50);
    width: 20px;
    height: 20px;
}

.DarkRedHue {
    background-color: hsl(0, 100, 25);
    width: 20px;
    height: 20px;
}